@model User

@section Styles{
    <link rel="stylesheet" href="~/css/start.css" />
    <link rel="stylesheet" href="~/css/followfollowing.css" />
}

@{
    bool FollowingClick = (ViewBag.FollowingClick != null);
    bool FollowersClick = (ViewBag.FollowersClick != null);
    string profileUsername = "@" + Model.Username;
}

<div class="container-main">
    <div class="container-first-part">
        <div class="header-first-part">
            <i class="fas fa-arrow-up"></i>
            <div class="user-information">
                <p class="user-name">@Model.Name</p>
                <p class="user-username">@profileUsername</p>
            </div>
        </div>

        <div class="follow-sections">
            <a href="/start/followers" class="followers-text">Seguidores</a>
            <a href="#" class="following-text-window">Siguiendo</a>
        </div>
    </div>

    @for (int i = 0; i < Model.Following.Count(); i++)
    {
        string name = "@" + Model.Following[i].Username;
        bool isFollowingYou = false;
        for(int j = 0; j < Model.Followers.Count(); j++)
        {
            if(Model.Following[i].Mail.Equals(Model.Followers[j].Mail))
            {
                isFollowingYou = true;
                break;
            }
            else
            {
                isFollowingYou = false;
            }
        }

        if(isFollowingYou)
        {
            <div class="follow-container">
                <div class="information-container">
                    <img src="@Model.Following[i].ProfilePicture" class="dot-tweet">
                    <div class="user-dates">
                        <p class="name-info">@Model.Following[i].Name</p>
                        <div class="follow-you">
                            <p class="username-info">@name</p>
                            <p class="is-follow-you">Te sigue</p>
                        </div>
                        <p class="user-description">@Model.Following[i].Biography</p>
                    </div>
                    <span class="following-btn">Siguiendo</span>
                    <span class="follow-btn">Seguir</span>
                    <input type="hidden" id="userID" value="@Model.Following[i].Mail"/>
                </div>
            </div>
        }
        else
        {
            <div class="follow-container">
                <div class="information-container">
                    <img src="@Model.Following[i].ProfilePicture" class="dot-tweet">
                    <div class="user-dates">
                        <p class="name-info">@Model.Following[i].Name</p>
                        <div class="follow-you">
                            <p class="username-info">@Model.Following[i].Username</p>
                        </div>
                        <p class="user-description">@Model.Following[i].Biography</p>
                    </div>
                    <span class="following-btn">Siguiendo</span>
                    <span class="follow-btn">Seguir</span>
                    <input type="hidden" id="userID" value="@Model.Following[i].Mail"/>
                </div>
            </div>
        }
    }


</div>

@section Scripts{
    <script>
        $(document).ready(function(){
            $('.follow-btn').hide();
        });
    </script>
}