@section Styles{
    <link rel="stylesheet" href="~/css/start.css" />
}

@model List<Tweet>
    
<div class="container-main">
    <div class="home">
        <p>Inicio</p>
    </div>
    <div class="new-tweet">
        <span class="dot-new-tweet"></span>
        <textarea name="" id="tweet-text" cols="30" rows="10" placeholder="¿Qué está pasando?" maxlength="280" required></textarea>
        <hr class="line">
        <input type="submit" class="tweet-button" value="Twittear">
    </div>

        @foreach (Tweet tweets in Model)
        {
            
            <div class="tweet-container">
                <span class="dot-tweet"></span>
                <div class="text-tweet-container">
                    <div class="user-tweet-details">
                        <p>Mike Luca</p>
                        <p>@tweets.Owner.Username</p>
                        <p>15:25</p>
                    </div>
                    <p>@tweets.Content</p>
                    <div class="cm-rt-mg">
                        <div class="comment-icon">
                            <a href="" ><img src="~/img/icons/comment.png" alt=""></a>
                            <a href="" ><img src="~/img/icons/comment-hover.png" alt="" class="hover-comment"></a>
                            <input type="hidden" id="tweetID" value="@tweets.TweetID">
                        </div>
                        <div class="retweet-icon">
                            <a href=""><img src="~/img/icons/retweet.png" alt=""></a>
                            <a href=""><img src="~/img/icons/retweet-hover.png" alt="" class="hover-retweet"></a>
                            <input type="hidden" id="tweetID" value="@tweets.TweetID">
                        </div>
                        <div class="like-icon">
                            <a href=""><img src="~/img/icons/like.png" alt=""></a>
                            <a href=""><img src="~/img/icons/like-hover.png" alt="" class="hover-like"></a>
                            <input type="hidden" id="tweetID" value="@tweets.TweetID">
                        </div>
                    </div>
                </div>
                
            </div>
        }   
</div>
