@model List<Tweet>
@section Styles{
    <link rel="stylesheet" href="~/css/start.css" />
    <link rel="stylesheet" href="~/css/edit-profile.css" />
}
@{
    bool showButtonToFollow = (ViewBag.showButtonToFollow != null);
    bool alreadyFollowed = (ViewBag.alreadyFollowed != null);
}

    <div class="container-main">
        <div class="home">
            <p>Inicio</p>
        </div>
        <div class="profile-specs">
            <img src="@ViewBag.ProfilePicture" alt="" class="profile-picture">
            <div class="cover-page-profile">
                <img src="@ViewBag.CoverPicture" alt="">
            </div>
            @if(showButtonToFollow)
            {
                if(alreadyFollowed)
                {
                    <input type="hidden" value="following" id="test"/>
                    <span class="following-btn" style="float: right; margin-right: 1rem;">Siguiendo</span>
                    <span class="follow-btn" style="float: right; margin-right: 1rem;">Seguir</span>
                    <div class="user-identification">
                        <input type="hidden" id="userID" value="@ViewBag.ID"/>
                    </div>
                }
                else
                {
                    <input type="hidden" value="not-following" id="test"/>
                    <span class="following-btn" style="float: right; margin-right: 1rem;">Siguiendo</span>
                    <span class="follow-btn" style="float: right; margin-right: 1rem;">Seguir</span>
                    <div class="user-identification">
                        <input type="hidden" id="userID" value="@ViewBag.ID"/>
                    </div>
                }
            }
            else
            {
                <button class="profile-edit-btn" id="myBtn">Editar perfil</button>
                <input type="hidden" id="userEmail" value="@ViewBag.Email"/>
            }
            <div class="user-specs">
                <p class="name">@ViewBag.name</p>
                <p class="username">@ViewBag.username</p>
            </div>
            <div class="user-dates">
                <p class="user-dates-text"><i class="fas fa-birthday-cake"></i>Fecha de nacimiento: @ViewBag.day de @ViewBag.month de @ViewBag.year.</p>
                <p class="user-dates-text"><i class="far fa-calendar-alt"></i>Se unió en @ViewBag.creationMonth de @ViewBag.creationYear</p>
            </div>
            <div class="stats-count">
                <a class="link-follows">
                    <p class="quantity-follow">@ViewBag.Following</p>
                    <p class="follow-text" id="follows">Seguidos</p>
                </a>
                <p class="link-followers">
                    <p class="quantity-followers">@ViewBag.Followers</p>
                    <p class="followers-text" id="followers">Seguidores</p>
                </p>
                
            </div>
        </div>

        
        
            @foreach (Tweet tweets in Model)
            {
                string name = "@" + @tweets.Owner.Username;
                <a href="/start/tweet?tweetid=@tweets.TweetID" class="tweet-click" style="text-decoration: none;">
                    <div class="tweet-container">
                        <span class="dot-tweet"></span>
                        <div class="text-tweet-container">
                            <div class="user-tweet-details">
                                <p>@tweets.Owner.Name</p>
                                <p>@name</p>
                                <p>@tweets.CreationDay @tweets.CreationMonth @tweets.CreationYear</p>
                            </div>
                            <p>@tweets.Content</p>
                            <div class="cm-rt-mg margin-right">
                                <div class="comment-icon margin-right">
                                    <a href="" ><img src="~/img/icons/comment.png" alt=""></a>
                                    <a href="" ><img src="~/img/icons/comment-hover.png" alt="" class="hover-comment"></a>
                                    <input type="hidden" id="tweetID" value="@tweets.TweetID">
                                </div>
                                <div class="retweet-icon margin-right">
                                    <a href=""><img src="~/img/icons/retweet.png" alt=""></a>
                                    <a href=""><img src="~/img/icons/retweet-hover.png" alt="" class="hover-retweet"></a>
                                    <input type="hidden" id="tweetID" value="@tweets.TweetID">
                                </div>
                                <div class="like-icon">
                                    <a href=""><img src="~/img/icons/like.png" alt=""></a>
                                    <a href=""><img src="~/img/icons/like-hover.png" alt="" class="hover-like"></a>
                                    <input type="hidden" id="tweetID" value="@tweets.TweetID">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </a>
            }   
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="header-modal">
                <div class="first-part">
                    <span class="close">&times;</span>
                    <h3>Editar perfil</h3>
                </div>
                
            </div>
            
            <div class="edit-profile-picture"></div>
            <a href="#" class="change-profile-picture"><i class="fas fa-camera photo"></i></a>
            <div class="edit-cover-page-profile">
            </div>

            <div class="elements-cover">
                <a href="#" class="change-cover-picture"><i class="fas fa-camera photo-cover"></i></a>
                <span class="close-cover">&times;</span>
            </div>
            
            <form class="contact-form" action="@Url.Action("ToEditProfile", "Start")" method="POST">
                <div class="form-profile">
                    <div class="username-content" id="user">
                        <p>Nombre</p>
                        <input type="text" name="name" align="center" id="name-user" required/>
                    </div>

                    <div class="bio-content" id="biography">
                        <p>Biografía</p>
                        <textarea name="biography" cols="30" rows="10" maxlength="160" id="biography-user" required>asd</textarea>
                    </div>

                    <div class="ubication-content" id="location">
                        <p>Ubicación</p>
                        <input type="text" name="location" align="center" id="location-user" required/>
                    </div>
                </div>
                <input type="submit" value="Guardar" class="save-button">
            </form>
        </div>
    </div>
            
        </div>
    </div>

</div>

<div class="url-container">
  <div class="url-content">
    <span class="close-url-container"></span>
    <div class="input-container">
      <input type="text" name="" id="input-url" placeholder="Ingresá el url de tu imagen" value="@ViewBag.ProfilePicture">
    </div>
    <a href="#" class="save-url">Guardar</a>
  </div>
</div>

<div class="url-container" id="cover-url-container">
  <div class="url-content">
    <span class="close-url-container"></span>
    <div class="input-container">
      <input type="text" name="" id="input-url-cover-picture" placeholder="Ingresá el url de tu imagen" value="@ViewBag.CoverPicture">
    </div>
    <a href="#" class="save-url" id="save-cover-profile">Guardar</a>
  </div>
</div>